$error: red;
$blueColor:  #3966ad;
$font: 'Courier New','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.error {
    color: $error;
}

.errorBorder {
    border: 1px solid $error;
}

// img {
//     max-width: 64px;
//     max-height: 64px;
// }

.weatherIcon {
    max-width: 32px;
    max-height: 32px;
}

.photo {
    width: 100%;
    border: 1px solid #545454;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 5px $blueColor;
}