<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Travel App</title>
    </head>

    <body>

        <header>
            <div class="headerText">
                The Travel App
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label class="title" for="destination">Destination:
                    </label>
                    <input id="destination" type="text" name="input" value="" placeholder="Enter Destination">
                    <label class="title" for="date">Destination:
                    </label>
                    <input id="date" type="date" min="2018-01-01" max="2050-12-31" name="input" value="" placeholder="Choose Date">
                    <input id="submit" type="submit" name="" value="Let's Go!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <p id="error" class="error" hidden>Please input a valid URL</p>
                </form>

                <section class="results">
                    <strong class="title">You Trip Info:</strong>
                    <ul type="circle">
                        <li>
                            <div id="subjectivity"></div>
                        </li>
                        <li>
                            <div id="score"></div>
                        </li>
                        <li>
                            <div id="agreement"></div>
                        </li>
                        <li>
                            <div id="confidence"></div>
                        </li>
                        <li>
                            <div id="irony"></div>
                        </li>
                    </ul>
                </section>
            </section>
        </main>

        <footer class="footer">
            <h3>Contact Me
            </h3>
            <a href="https://github.com/esraaMohamed">
                <img class="logos" src="images/github.jpg" alt="Github">
            </a>
            <a href="https://www.facebook.com/No0oU">
                <img class="logos" src="images/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.linkedin.com/in/esraa-afifi/">
                <img class="logos" src="images/linkedin.png" alt="LinkedIn">
            </a>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) { // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
